@import url(roboto.css);

* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;	
}

body {
	background-color: #fff;
	font: 0.9em "RobotoLight", Arial, san-serif;
}

.container {
	width: 95%;
	margin: 0 auto;
	position: relative;	
}

.container .row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    width: 100%; /*For mobile phones*/
    
    float: left;
    padding: 10px;
}

.topHeader {	
	height: 40px;
	width: 100%;
	background-color: #573b2d;
	color: #fff;	
	padding-top: 1px;
	box-shadow: 0 2px 5px #573b2d;
	position: relative;
	z-index: 2;
}

.topHeader .logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    top: 30px;
}

.topHeader .logo img{
	height: 125px;
	width: auto;
}

.topHeader .topMenu {
	width: 22px;
    height: 20px;
    background: url(../img/icon_burger.png) no-repeat 50% 50%;
    background-size: 100%;    
}

.topHeader .topRightMiniPanel{	
	position: absolute;
	top: 10px;
    right: 5px;
}

.topHeader .topRightMiniPanel a {
	padding: 18px;
	margin-left: 5px;
}

.topHeader .topMiniSearch {
	background: url(../img/icon_search_white.png) no-repeat 50% 50%;
    background-size: 50%;
}

.topHeader .topMiniAccount {
	background: url(../img/icon_account.png) no-repeat 50% 50%;
    background-size: 50%;
}

.topHeader .topMiniCart {
	background: url(../img/icon_cart_white.png) no-repeat 50% 50%;
    background-size: 70%;
}

.topHeader .auth,
.topHeader ul,
.mainHeader .row,
.topHeader .carthref {
	display: none;
}

.mainHeader {
	height: 102px;
	background-color: #785535;	
	color: #fff;
	padding-top: 1px;
	position: relative;
	z-index: 1;
}

.content-before {
    height: 110px;
    padding-top: 15px;
    font-size: 0.9em;
    line-height: 2em;
}

.mainContent {
	background-color: #eeeeee;
	padding-bottom: 25px;
}

.articleTitle {
    position: absolute;
    left: 3px;
    right: 3px;
    transform: translateY(-10px);
    background: #ffc107;
    font-size: 1.5em;
    padding: 5px 15px 7px;
    font-family: "RobotoRegular", Arial, sans-serif;
    text-align: center;
}

.articleTitle:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color:  transparent transparent #fc9e00 transparent; 
	left: -10px;
	top: -10px;
}

.articleTitle:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color:  transparent transparent #fc9e00 transparent; 
	right: -10px;
	top: -10px;
}

.mainContent .afterName {
	padding-top: 40px;
}

.mainContent a {
	color: #000;
}

.mainContent .star {
	display: inline-block;
	width: 15px;
    height: 15px;
	background: url(../img/star.png) no-repeat 50% 50%;	
	background-size: 100%;
	cursor: pointer;
	margin-right: 5px;
}

.mainContent .goldstar {		
	background: url(../img/star_orange.png) no-repeat 50% 50%;		
	background-size: 100%;	
}

.mainContent .evaluateHref {
	margin-left: 15px;
}

.card {		
	background-color: #fff;
	border: 1px solid #b6b6b6;
	padding: 20px;	
}

.mainContent .mainCard {		
	height: 200px;
    line-height: 160px;
	position: relative;
	text-align: center;
}

.mainContent .mainCard .arrowLeft {				
	width: 25px;
    height: 35px;
    position: absolute;
    top: 49%;
    left: -6px;
    transform: translateY(-50%);
    background: url('../img/arrow_left.png') no-repeat #ffc107 45% 50%;
    background-size: 35%;
}

.mainContent .mainCard .arrowLeft:before {
	content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #fc9e00 transparent transparent;
    left: 0px;
    bottom: -6px;	
}

.mainContent .mainCard .arrowRight {				
	width: 25px;
	height: 35px;
	position: absolute;
	top: 49%;
	right: -6px;
	transform: translateY(-50%);
	background: url('../img/arrow_right.png') no-repeat #ffc107 65% 50%;
	background-size: 35%;
}

.mainContent .mainCard .arrowRight:before {
	content: "";		
	position: absolute;
	border-style: solid;
	border-width: 0 0 6px 6px;
	border-color: transparent transparent transparent #fc9e00;
	right: 0px;
	bottom: -6px;
}

.mainContent .mainCard .saleStar {
	line-height: 50px;
	font-size: 1.5em;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 20px;		
	background: url('../img/sale.png') no-repeat 50% 50%;
	background-size: 100%;
}

.mainContent .mainCard img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}

.mainContent .mainCard .saleStar {
	line-height: 30px;
    font-size: 1.3em;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;	
	background: url('../img/sale.png') no-repeat 50% 50%;
	background-size: 100%;
}

.mainContent .otherProducts {
	width: 50%;
	padding-bottom: 0;
}

.mainContent .otherProducts .card{		
	line-height: 55px;
    text-align: center;
    height: 100px;
}

.mainContent .otherProducts img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.mainContent .otherProducts:nth-child(4),
.mainContent .otherProducts:nth-child(5) {
	display: none;
}


.mainContent .otherProducts:nth-child(2) {
	padding-right: 8px;
	padding-left: 0;		
}

.mainContent .otherProducts:nth-child(3) {
	padding-right: 0;
	padding-left: 8px;
}

.mainProposal.card {
	padding: 8px
}

.mainProposal .col-6 {
	width: 50%;
}

.mainProposal .col-6,
.mainProposal .col-12 {
	padding: 5px;
}

.mainProposal .row {
	padding-bottom: 10px;
}

.mainProposal input {
	padding: 8px;
    width: 100%;
    font-family: "RobotoLight", Arial, san-serif;
}

.mainProposal del {
	font: 1.2em "RobotoRegular", Arial, san-serif;
	line-height: 0;
}

.mainProposal .saleBold {
	font: 1.5em "RobotoMedium", Arial, san-serif;
	color: #ff3c07;
	line-height: 0;
}

.mainProposal .buttonProposal {
	padding: 5px;
	padding-left: 40px;
    width: 100%;
    border: none;
    height: 40px;    
    cursor: pointer;
    line-height: 0;
}

.mainProposal .buttonBuy {
	background: #ff3c07 url(../img/icon_pack.png) no-repeat 35% 50%;
    background-size: 20px;
	color: #fff;
	font: 1.5em "RobotoMedium", Arial, san-serif;
}

.mainProposal .buttonCart {
	background: #ffc107 url(../img/icon_cart.png) no-repeat 27% 50%;
    background-size: 32px;	
    font: 1.5em "RobotoRegular", Arial, san-serif;
}

.mainProposal .textEconomy {
	font: 1.1em "RobotoRegular", Arial, san-serif;
    line-height: 0;
}

.mainProposal .textEconomyPercent {
	font: 1.2em "RobotoMedium", Arial, san-serif;
	color: #ff3c07;
	line-height: 0;
}

.mainProposal .divProposal {	
	position: relative;
	padding: 20px;
	padding-left: 45px;
	border-bottom: 1px solid #b6b6b6;
} 

.mainProposal .divProposal:last-child {
	border: none;
}

.mainProposal .divProposal:after {
	position: absolute;
    content: "";
    width: 30px;
    height: 20px;
    top: 15px;
    right: 0;
    background: url(../img/arrow_down.png) no-repeat 50% 50%;
    background-size: 70%;
}

.mainProposal .divProposal h4 {
	margin-bottom: 8px;
}

.mainProposal .credit h4{
	margin: 0;
}

.mainProposal .divProposal p {
	color: #727272;
	font-size: 1em;
}

.mainProposal .delivery {
	background: url(../img/icon_delivery.png) no-repeat 3% 26%;
    background-size: 27px;
}

.mainProposal .guarantee {
    background: url(../img/icon_guarantee.png) no-repeat 4% 25%;
    background-size: 25px;
}

.mainProposal .credit {
    background: url(../img/icon_credit.png) no-repeat 4% 50%;
    background-size: 20px;
}

.mainProposal .paymentMethods {
	background: url(../img/icon_payment.png) no-repeat 4% 33%;
    background-size: 22px;
    padding-bottom: 0;
}

.mainProposal .col-6 {
	padding-bottom: 0;
}

/*---Details---*/

.mainContent .desktopDetails {
	display: none;
}

.mainContent .mobileDetails {
	display: block;
	padding: 5px 10px;	
}

.mainContent .mobileDetails li {
	display: inline-block;
	width: 100%;
    padding: 15px;   
    padding-left: 0;
    font: 1.1em "RobotoRegular", Arial, san-serif;     
    cursor: pointer;
    background: url(../img/arrow_down.png) no-repeat 100% 55%;
    background-size: 23px;
    border-top: 1px solid #b6b6b6;
}

.mainContent .mobileDetails li.active {	
	padding-top: 10px;
	border: none;                
    background: url(../img/arrow_up.png) no-repeat 100% 55%;
    background-size: 23px;
}

.mainContent .mobileDetails .opinions {
	padding-bottom: 15px;
}

.mainContent .details .description,
.mainContent .details .features {
	display: none;
}

.mainContent .details .opinions .star {
	width: 15px;
	height: 15px;
	margin-top: 5px;
}

.mainContent .details .opinions span {
	color: #7e7e7e;
}

.mainContent .details .opinions .option {
	margin-top: 15px;
}

.mainContent .details .opinions .option h4 {
	font-family: "RobotoMedium", Arial, san-serif;
	font-weight: normal;
}

.mainContent .details .video {		
	margin-top: 20px;
	position: relative;			
}

.mainContent .details .video video {
	width: 100%;
	height: auto;				
}

.mainContent .details .playButton {
	cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7);	    
    border: 1px solid #b6b6b6;
    border-radius: 50%;
}

.mainContent .details .playButton:after {
	content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    background: url(../img/icon_play.png) no-repeat 50% 50%;	    
    background-size: 64%;
}

.mainContent .relatedProducts {
	display: none;
}

.mobileRelatedProducts {
	text-align: center;
    background-color: #eee;
    margin-top: 40px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.mobileRelatedProducts .col-6 {
	width: 50%;
}

.mobileRelatedProducts .card {
	padding: 5px 0;
}

.mobileRelatedProducts img {
	max-width: 100%;
}

.mobileRelatedProducts span {
	display: inline-block;
    font: 1.2em "RobotoRegular", Arial, san-serif normal;
    padding: 5px 10px;
    background-color: #ffc107;
    margin-top: 15px;
    margin-bottom: 5px;
}

.mobileRelatedProducts del {
	color: #b6b6b6;
}

.mobileRelatedProducts .articleTitle {
 	left: 50%;
    right: auto;
    transform: translate(-50%,-80px);
}

.slides-section {
	display: none;
}

.products-section .desktop-version {
	display: none;
}

.products-section .mobile-version .card {
    padding: 5px 0;
}

.products-section .mobile-version .col-6 {
	width: 50%;
}

.products-section .mobile-version .col-4 {
	width: 33.33%;
}

.products-section .mobile-version img {
	max-width: 100%;
}

.products-section .mobile-version span {
    display: inline-block;
    font: 1.2em "RobotoRegular", Arial, san-serif normal;
    padding: 5px 10px;
    background-color: #ffc107;
    margin-top: 15px;
    margin-bottom: 5px;
}

.products-section .mobile-version del {
    color: #b6b6b6;
}

.products-section {
	text-align: center;
    background-color: #eee;
    margin-top: 40px;
    padding-top: 40px;
	padding-bottom: 15px;	
}

.products-section .articleTitle {
	left: 50%;
    right: auto;
    transform: translate(-50%,-50px);
}

.content-after {
	padding: 25px 5px;
	font-size: 0.9em;
}

.mobile-hide {
	display: none;
}

.foot {
	text-align: center;	
	color: #b6b6b6;
	background-color: #573b2d;
	padding: 15px;
}

/* For desktop: */
@media only screen and (min-width: 1030px) {    
	
	.container {
		width: 90%;		
	}

	[class*="col-"] {	    
	    padding: 15px;
	}

    .container .col-1 {width: 8.33%;}
    .container .col-2 {width: 16.66%;}
    .container .col-3 {width: 25%;}
    .container .col-4 {width: 33.33%;}
    .container .col-5 {width: 41.66%;}
    .container .col-6 {width: 50%;}
    .container .col-7 {width: 58.33%;}
    .container .col-8 {width: 66.66%;}
    .container .col-9 {width: 75%;}
    .container .col-10 {width: 83.33%;}
    .container .col-11 {width: 91.66%;}
    .container .col-12 {width: 100%;}    

	header a {
		color: #fff;
	}

	header li {
		display: inline-block;
	}    

	.topHeader {	
		height: 54px;		
	}

	.topHeader ul {
		display: block;		
		margin-left: -20px;
	}	

	.topHeader .topMenu,
	.topHeader .topRightMiniPanel {
		display: none;
	}

	.topHeader .auth {	
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 22.5%;
	}

	.topHeader .col-12 .auth a {
		text-decoration: underline;
		padding: 0;
		margin: 0;
	}

	.topHeader .carthref {
		position: absolute;
		display: inline-block;
		width: 19.2%;
		right: 15px;
		top: 0;
		text-decoration: none;
	}

	.topHeader .cart {		
		height: 60px;	
		color: #000;	
		background: url(../img/icon_cart.png) no-repeat #ffc107 10% 50%;
		background-size: 22%;
		padding-top: 10px;
		position: relative;	
	}

	.topHeader .cart:after {
		content: "";		
		position: absolute;
		border-style: solid;
		border-width: 0 10px 7px 0;
		border-color: transparent #fc9e00 transparent transparent; 
		left: -10px;
		bottom: 0px;
	}

	.topHeader .cart span {
		margin-left: 40%;
	}

	.topHeader .cart span:first-child{
		font-family: "RobotoMedium", Arial, san-serif;		
	}


	.topHeader a:not(.carthref) {	
		text-decoration: none;
		color: #fff;
		padding: 20px;
	}

	.topHeader .logo {
		top: 20px;
	}

	.topHeader .logo img {
		height: auto;		
	}

	.mainHeader {
		height: 178px;		
	}

	.mainHeader .row {
		display: block;
	}

	.mainHeader h1 {
		margin: 25px 0 5px 0;
		font-weight: normal;
		font-family: "RobotoRegular", Arial, san-serif;
	}	

	.mainHeader .search {
		width: 29.3%;
		position: absolute;
		right: 15px;	
		top: 60px;
	}
	.mainHeader .search input {
		width: 100%;
		padding: 5px;	
		font-family: "RobotoLight", Arial, san-serif;	
	}

	.mainHeader .search:after {
		width: 20px;
		height: 20px;
		position: absolute;
		content: "";
		background: url(../img/icon_search.png) no-repeat;
		background-size: 90%;
		top: 50%;
    	transform: translateY(-50%);
		right: 5px;
	}

	.mainHeader nav {
		position: relative;
		background-color: #ffc107;
		transform: translateY(50%);
    	margin-top: 16px;	
		font-family: "RobotoRegular", Arial, san-serif;
	}

	.mainHeader nav a {
		display: inline-block;	
		padding: 20px;
		text-decoration: none;
		color: #000;
	}

	.mainHeader .sale {
		color: red;	
	}	

	.mainHeader .social {
		position: absolute;
		top: 8px;		
	    right: 10px;
	}

	.mainHeader .social a {
		padding: 15px;
	    margin: 7px;	
	}

	.mainHeader .social-vk {
		background: url(../img/icon_vk.svg) no-repeat #4e8dd4 50% 50%;	
		background-size: 40%;
	}

	.mainHeader .social-fb {
		background: url(../img/icon_facebook.svg) no-repeat #4767aa 50% 50%;	
		background-size: 30%;
	}

	.mainHeader .social-inst {
		background: url(../img/icon_insta.png) no-repeat  50% 50%, 
		linear-gradient(198deg, rgb(113, 48, 235) 0%, rgb(248, 30, 84) 50%, rgb(255, 185, 77) 100%) no-repeat 100% 100%;	
		background-size: 60%, 100%;
	}

	.content-before {	
		padding-top: 35px;
	    height: 100px;		
		font-size: 0.7em;
	}

	.articleTitle {	
	    left: 50%;
	    right: auto;
	    transform: translate(-50%, -23%);       
	}

	.mainContent .afterName {
		padding-top: 50px;
	}

	.mainContent .star {		
		width: 10px;
		height: 10px;		
	}

	.mainContent .card {		
		background-color: #fff;
		border: 1px solid #b6b6b6;
		padding: 20px;	
	}

	/*---MainCard---*/

	.mainContent .mainCard {		
		height: 456px;
		line-height: 350px;			
	}

	.mainContent .mainCard .arrowLeft {				
		width: 50px;
		height: 70px;		
		top: 47%;
		left: -10px;		
		background: url('../img/arrow_left.png') no-repeat #ffc107 40% 50%;
    	background-size: 40%;
	}

	.mainContent .mainCard .arrowLeft:before {		
		border-width: 0 10px 10px 0;				
    	bottom: -10px;
	}

	.mainContent .mainCard .arrowRight {				
		width: 50px;
		height: 70px;		
		top: 47%;
		right: -10px;		
		background: url('../img/arrow_right.png') no-repeat #ffc107 60% 50%;
    	background-size: 40%;
	}

	.mainContent .mainCard .arrowRight:before {		
		border-width: 0 0 10px 10px;    			
    	bottom: -10px;
	}

	.mainContent .mainCard .saleStar {
		line-height: 50px;
		font-size: 1.5em;
		width: 50px;
		height: 50px;		
		top: 20px;
		left: 20px;				
	}

	.mainProposal .delivery {		
		background-position: 3% 31%;
	}

	.mainProposal .guarantee {
		background-position: 4% 33%;	    
	}

	.mainProposal .paymentMethods {
		background-position: 4% 43%;		
	}

	/*---OtherProducts---*/

	.mainContent .otherProducts:nth-child(4),
	.mainContent .otherProducts:nth-child(5) {
		display: block;
	}	

	.mainContent .otherProducts {
		padding: 20px 8px;		
	}	

	.mainContent .otherProducts:nth-child(3) {
		padding-right: 8px;
	}

	.mainContent .otherProducts:nth-child(2) {
		padding-right: 8px;
		padding-left: 0;		
	}

	.mainContent .otherProducts:last-child {
		padding-right: 0;
		padding-left: 8px;
	}

	.mainContent .otherProducts .card{		
		line-height: 64px;	  
	    height: 111px;
	}

	/*---Details---*/

	.mainContent .desktopDetails {
		display: block;
	}

	.mainContent .mobileDetails {
		display: none;
	}	

	.mainContent .desktopDetails li {
		display: inline-block;
	    padding: 15px;
	    width: auto;
	    text-decoration: underline;
	    margin-bottom: -1px;
	    cursor: pointer;	    
	}

	.mainContent .desktopDetails li.active {
    	border: 1px solid #b6b6b6;
	    border-bottom: 1px solid #fff;
	    background-color: #fff;
	    text-decoration: none;
	    color: #7e7e7e;
	    font-family: "RobotoRegular", Arial, san-serif;
	    cursor: default;
	}	

	.mainContent .details .opinions .star {
		width: 13px;
		height: 13px;		
	}		

	.mainContent .details .playButton {	    
	    width: 120px;
	    height: 120px;	    
	}

	.mainContent .details .playButton:after {		
	    width: 60px;
	    height: 60px;	    
	}

	.mobileRelatedProducts {
		display: none;
	}

	.mainContent .relatedProducts {
		display: block;
	}

	.mainContent .relatedProducts h3 {		
		font: 1.4em "RobotoRegular", Arial, san-serif, normal;	
		margin-bottom: 10px;
	}

	.mainContent .relatedProducts .card {
		height: 300px;
		text-align: center;
		font-family: "RobotoRegular", Arial, san-serif;
		margin-bottom: 20px;
	}

	.mainContent .relatedProducts h4 {		
		font-size: 1.1em;
		font-weight: normal;
		margin-bottom: 10px;
	}

	.mainContent .relatedProducts span {		
		display: inline-block;
		padding: 5px;
		background-color: #ffc107;
		font-size: 1.3em;
		margin-left: 20px;
	}

	.mainContent .relatedProducts del {		
		color: #b6b6b6;
		font-size: 1.1em;
	}

	.mainContent .relatedProducts img {
		max-width: 100%;
	}

	.slides-section {
		display: block;
	}

	.slides-section .slide {
		height: 600px;
	 	background: url(../img/sofa.png) no-repeat 50% 50%;
		background-size: 70%;
	}
	
	.slides-section .arrow-left {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 40px;
		height: 40px;
		background: url(../img/arrow_left.png) no-repeat 50% 50%;
		background-size: 50%;
	}

	.slides-section .arrow-right {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 40px;
		height: 40px;
		background: url(../img/arrow_right.png) no-repeat 50% 50%;
		background-size: 50%;
	}

	.products-section .mobile-version {
		display: none;
	}

	.products-section .desktop-version {
		display: block;
	}

	.products-section {
		text-align: center;
	    background-color: #eee;
	    margin-top: 80px;
	    padding-top: 40px;
    	padding-bottom: 15px;
    	font-family: "RobotoRegular", Arial, san-serif;
	}

	.products-section h4 {
	 	font-size: 1.1em;
	    font-weight: normal;
	    margin-bottom: 10px;
	}

	.products-section del {
	  	color: #b6b6b6;
    	font-size: 1.1em;
	}

	.products-section span {
	  	display: inline-block;
	    padding: 5px;
	    background-color: #ffc107;
	    font-size: 1.3em;
	    margin-left: 20px;
	}

	.bestsellers {
		margin-top: 0;
	}

	.content-after {
		padding: 40px 5px;
	}

	.mobile-hide {
		display: block;
	}
}

.orange {
	color: #ffc107;
}

.mainContent .active {
	border: 1px solid #ffc107;
}

.content-before a {
	display: inline-block;
	text-decoration: none;
	color: #8a8a8a;
	position:relative;
}

.content-before a:not(:first-child) {
	margin-left: 23px;
}

.content-before a:not(:first-child):before {
	content: "";
    position: absolute;
    width: 15px;
    height: 10px;
    background: url(../img/arrow.png) no-repeat;
    background-size: 75%;
    left: -19px;
    top: 55%;
    transform: translateY(-50%);
}

footer {

}

.beforefoot {
	height: 470px;	
	background-color: #785535;
}